@charset "utf-8";
/* CSS Document */

@font-face
{
    font-family: Garamond, Trebuchet, Helvetica;
}

body
{
	font-family: Trebuchet, Calibri, Cambria, Helvetica, Garamond;
	font-size: 12pt;
	background-color: white;
	color: black;
	background: url(img/tree-transparent.png) no-repeat center top;
	background-repeat: no-repeat;
	max-width: 1000px;
	max-height: 800px;
	margin-left:auto;
	margin-right:auto;
}

h1, h2, h3, footer
{
	text-align: center;
	text-transform: uppercase;
	font-family: Garamond;
}

h1, h3
{
	color: white;
	background-image: url(img/wood-bck.png);
}

footer
{
	font-size: 120%;
	background-image: url(img/wood-bck.png);
}

a:link, a:visited
{
	color: white;
	font-weight: bold;
}

h1
{
	font-size: 270%;
	text-shadow: -1px -1px white;
}

h2
{
	font-size: 250%;
}

h3
{
	font-size: 180%;
	max-height: 22%;
	max-width: 22%;
	margin: 0 auto;
}


#content
{
	margin: 270px 0px 0px 330px; /*top right bottom left*/
	background-color: rgba(255, 255, 255, .5);
	text-align: center;
}
